@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Italic";
  src: local("Roboto-Italic"),
    url("../fonts/Roboto-Italic.ttf") format("truetype");
}

h3 {
  font-family: "Roboto-Bold";
}
/* 
body::-webkit-scrollbar{
  width: 0.14m;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb{
  background-color:red;
}

body::-webkit-scrollbar-thumb:hover{
  background-color: #5555;
} */

/* Include Package  */

.ipc{
  background-color: #f0f0f0;
  padding:5px;
  margin:5px;
  font-family: 'Roboto-Regular';
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor:pointer;
}

.ipcimage {
  width: 150px;
  height: 100px;
  object-fit: cover;
  transition: width 0.5s, height 1s;
}

.ipcimage:hover{
  width:170px;
  height: 120px;
}

.bookingbtn{
  display:flex;
  align-items: center;
  justify-content: center;
  color:white;
  cursor:pointer;
  border-radius: 15px;
  width:100%;
  padding:10px !important;
  font-family: 'Roboto-Bold' !important;
  background-color: #4e00ad !important;  
}


.bookingbtn:hover{
  background-color: #2d6efa !important;  
}

.pkbuydetail{
  font-size:medium;
}

.pkbuydetail tbody tr th{
  text-align:'left';
}


.btn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-primary {
  background-color: #1a2c44 !important;
  border: none !important;
}

.btn-primary:hover {
  background-color: #20344f !important;
}

.uploadimage {
  width: 130px;
  height: 80px;
  object-fit: cover;
  border: solid steelblue 1px;
}

.previmage {
  width: 130px;
  height: 80px;
  object-fit: cover;
  border: solid red 2px;
}

.result_profile {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: solid blue 2px;
  object-fit: cover;
}

.bglogin {
  /*background-color:red;*/

  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.bgcovercolor {
  background-color: blue;
  opacity: 0.2;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.login {
  /*background-color:#005bd1;*/
  background-color: royalblue;
  background-image: url("../assets/travel/travelimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.loginForm,
.RegisterForm {
  padding: 20px;
  background-color: transparent;
  border-radius: 20px;
  color: white;
  font-family: "Roboto-Regular";
  min-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
  padding: 10px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 65px;
}

.link {
  font-family: "Roboto-Regular";
  color: black;
  text-decoration: none;
  margin-right: 15px;
}


.textgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-Bold";
  animation: LeftfadeIn 1s ease-out forwards;
}

.profileLarge {
  max-width: 180px;
  min-width: 180px;
  max-height: 180px;
  max-height: 180px;
  object-fit: cover;
}

.loginbtn {
  width: 100%;
  background-color: transparent !important;
  max-height: 50px;
  min-height: 50px;
  border: white solid 2px !important;
}

.loginfield {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: white solid 2px !important;
  color: white !important;
}

.loginbtn:hover {
  width: 100%;
  max-height: 50px;
  min-height: 50px;
  background-color: white !important;
  border: transparent 2px !important;
  color: black !important;
}

.pages {
  padding-left: 100px;
  position: "relative";
  padding: 0px;
  width: 100%;
  height: 100%;
}

.pagewarpper {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.addadmin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
}

.sidebar-menu-item {
  color: #000000;
  padding: 8px !important;
  margin: 0 !important;
}

.sidebar-menu-item:hover {
  background-color: #7904df;
  color: white;
  color: white;
}
.sidebar-menu-item.active {
  background-color: #7904df;
  color: white;
  color: white;
}
.sidebar-content {
  padding-top: 0px !important;
}

.sidebar-menu {
  padding-top: 0px !important;
}

.divider {
  width: "100%";
  background-color: rgba(0, 0, 0, 0.19);
  padding-top: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

@media (max-width: 1000px) {
  .loginForm {
    width: 100px;
    max-width: 370px;
    min-width: 370px;
  }

  .profile_card {
    display: grid; /* Enable the grid layout */
    grid-template-columns: repeat(
      4,
      1fr
    ); /* Create a grid with three equal-width columns */
    grid-gap: 20px;
  }
}

@media (max-width: 800px) {
  .loginForm {
    max-width: 370px;
    min-width: 370px;
  }

  .profile_card {
    display: grid; /* Enable the grid layout */
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Create a grid with three equal-width columns */
    grid-gap: 20px;
  }
}

@media (max-width: 500px) {
  .loginForm {
    width: 400px;
    max-width: 400px;
    min-width: 370px;
  }

  .ponebar{
    flex-direction: column;
  }

  .profile_card {
    display: grid; /* Enable the grid layout */
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Create a grid with three equal-width columns */
    grid-gap: 20px;
  }

  .hpimage {
    height: 50vh;
  }
}

@media (max-width: 400px) {
  .profile_card {
    display: grid; /* Enable the grid layout */
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Create a grid with three equal-width columns */
    grid-gap: 20px;
  }
  .loginForm {
    max-width: 370px;
    min-width: 290px;
  }
}

@keyframes LeftfadeIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.home {
  width: 100%;
  height: 500px;
}

.navbar {
}

a {
  text-decoration: none !important;
  color: black !important;
}
.home_container {
  color: white !important;
  margin-top: 100px;
  height: 500vh;
}

.navbar-band {
  color: white !important;
}

.searchfield {
  padding: 5px;
  padding-left: 8px;
  border-radius: 15px;
}

.packageContainer {
  width: 100%;
}

.packageImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.includeplace {
  color: #a13a14;
  align-items: "center";
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.packageinfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
.packageinfo p {
  padding: 0px;
  margin: 0px;
}

.packagetools {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.packagetools button {
  margin-right: 5px;
  border: none !important;
}

.packagetools button:nth-child(1) {
  background-color: #1a2c44;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.packagetools button:nth-child(2) {
  background-color: #114155 !important;
}

.packagetools button:nth-child(3) {
  background-color: #ffc404 !important;
}

.addnewpackage_btn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editorClassName {
  background-color: #f0f0f0;
  min-height: 300px;
  padding: 5px;
}
.includePlace {
  position: relative;
}

.includePlace .input-group {
  display: flex;
  flex-direction: column;
}

.includePlace .input-group input {
  width: 100%;
  border-radius: 0px;
}

.bookingpage {
  padding: 10px;
}

.booking_card {
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0f0;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /*border-radius:15px;*/
}

.booking_card .input-group {
  margin-left: 10px;
}

.booking_data {
  margin-top: 20px;
  /*background-color:#f0f0f0f0;*/
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.booking_placeselect {
  margin-top: 10px;
  width: 100%;
  overflow: auto !important;
}

.booking_placeselect .toogle {
  margin: 5px;
}

th {
  text-align: center !important;
}


.pkdetail tbody tr td {
  text-align: left !important;
  font-size: large;
}

.pkdetail tbody tr th {
  text-align: left !important;
   font-size: large;
}

.persontable tbody tr td {
  text-align: right !important;
}

.persontable tbody tr th {
  text-align: left !important;
}

.fbitem {
  position: relative;

  background-color: #1a2c44;
  color: white;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mainbox div {
  padding: 20px;
  margin-top: 10px;
  font-family: "Roboto-Bold";
  cursor: pointer;
}

.mainbox div:nth-child(1) {
  border-radius: 15px;
  background-color: #1fb4e6;
  color: white;
}

.mainbox div:nth-child(2) {
  border-radius: 15px;
  background-color: #3b97b6;
  color: white;
}

.mainbox div:nth-child(3) {
  border-radius: 15px;
  background-color: #114155;
  color: white;
}

.mainbox div:nth-child(4) {
  border-radius: 15px;
  background-color: #1a2c44;
  color: white;
}

.box1 {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: #1a2c44;
  color: white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

.box1:hover {
  background-color: #1d4a85;
  padding: 12px;
}

.b2 {
  background-color: #4673ae;
  color: white;
}

.b2:hover {
  background-color: #1d4a85;
}

.b3 {
  background-color: #7904df;
  color: white;
}

.b4 {
  background-color: #4e00ad;
  color: white;
}

.box1 div {
  margin-left: 10px;
}

.box1 div h4 {
  font-family: "Roboto-Bold";
}

.box1 div h5 {
  font-family: "Roboto-Black";
}

.hpimage {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.PackageContainer {
  margin-top: 20px;
}
.packageImghome {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: height 1s;
}

.pkcard {
  cursor: pointer;
  transition: width 2s;
}

.pkcard:hover {
  background-color: #f0f0f0;
}

.pkcard .packageImghome:hover {
  height: 290px;
}

.hsb {
  width: 98%;
  max-width: 500px;
}

section {
  margin-top: 20px;
}

.hshowmore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Roboto-Light";
  font-size: 18px;
  align-items: center;
  cursor: pointer;
  width: 140px;
  transition: width 0.5s;
  background-color: #4e00ad;
  padding: 10px;
  border-radius: 15px;
  color: white;
}

.hshowmore:hover {
  width: 180px;
}

.SerCard {
  font-family: "Roboto-Regular";
}

.SerCard img {
  width: 70px;
  height: 70px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 300px;
  width: 100%;
  border: #4e00ad solid 1px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 100%;
}

.conantuswrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conantuswrap h4 {
  margin: 5px;
}

.lastelement {
  width: 100%;
  margin-top: 20px;
  background-color: #4e00ad;
}

.pkimgshow {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.ponebar {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* 
.ips div{
  width:100px;
  background-color: black;
  padding:20px;
}

.ips div img{
  width:150px;
  height:100px;
  object-fit: cover;
  
} */

.lastelement{
  padding:30px;
  color:white;
}

.lastelement a{
  color:white !important;
  font-size: medium !important;
}